@charset "utf-8";
.intergralheader {
  width: 100%;
  height: 1.40625rem;
  border-bottom: 0.03125rem solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafd;
}
.intergralheader > span {
  font-size: 0.40625rem;
  color: #333333;
  font-weight: bold;
}
.intergralheader img:first-of-type {
  width: 0.359375rem;
  height: 0.625rem;
  margin-left: 0.390625rem;
}
.intergralheader img:last-of-type {
  width: 0.640625rem;
  height: 0.640625rem;
  margin-right: 0.25rem;
}
.intergral {
  width: 100%;
  height: 4.96875rem;
  border-bottom: 0.03125rem solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intergral .box {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 0.5625rem solid #ef592a;
}
.intergral .box > div {
  width: 2.6875rem;
  height: 2.6875rem;
  border-radius: 50%;
  border: 0.21875rem solid #e13600;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.intergral .box > div p {
  width: 100%;
  text-align: center;
}
.intergral .box > div p:first-of-type {
  color: #999999;
  font-size: 0.375rem;
  line-height: 0.375rem;
}
.intergral .box > div p:last-of-type {
  margin-top: 0.21875rem;
  color: #e64f1a;
  font-size: 0.4375rem;
  line-height: 0.4375rem;
}
.howtouse {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.3125rem solid #efefef;
}
.howtouse dl {
  height: 2.0625rem;
  text-align: center;
}
.howtouse dl dt {
  width: 3.328125rem;
  height: 1.359375rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.howtouse dl dt img {
  width: 0.75rem;
  height: 0.75rem;
}
.howtouse dl dd {
  font-size: 0.34375rem;
  line-height: 0.34375rem;
  color: #999;
}
.howtouse dl:nth-of-type(1) {
  border-right: 0.03125rem solid #e0e0e0;
}
.howtouse dl:nth-of-type(2) {
  border-right: 0.03125rem solid #e0e0e0;
}
.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main dl {
  width: 4.93rem;
  height: 4.625rem;
  border-bottom: 0.03125rem solid #e0e0e0;
}
.main dl:nth-of-type(1) {
  border-right: 0.03125rem solid #e0e0e0;
}
.main dl:nth-of-type(3) {
  border-right: 0.03125rem solid #e0e0e0;
}
.main dl dt {
  width: 4.93rem;
  height: 3.171875rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main dl dt img {
  width: 3.0rem;
  height: 1.640625rem;
}
.main dl dd {
  margin-left: 0.3125rem;
  font-size: 0.34375rem;
  color: #333;
  line-height: 0.34375rem;
  margin-bottom: 0.421875rem;
}
