@charset "utf-8";
.homesearchHeader {
  width: 100%;
  display: flex;
  height: 1.40625rem;
  border-bottom: 0.03125rem solid #e0e0e0;
  background-color: #f9fafd;
  align-items: center;
}
.homesearchHeader span {
  display: inline-block;
  line-height: 0.796875rem;
  font-size: 0.640625rem;
  color: #999;
  margin-left: 0.40625rem;
}
.homesearchHeader div {
  width: 6.1875rem;
  height: 0.8125rem;
  border-radius: 0.078125rem;
  border: 0.03125rem solid #e0e0e0;
  display: flex;
  align-items: center;
  margin-left: 1.09375rem;
  margin-right: 0.2125rem;
}
.homesearchHeader div img {
  width: 0.390625rem;
  height: 0.390625rem;
  margin-left: 0.203125rem;
}
.homesearchHeader div input[type=text] {
  height: 0.46875rem;
  line-height: 0.46875rem;
  font-size: 0.4375rem;
  color: #a9a9a9;
  border: none;
  background-color: #f9fafd;
  margin-left: 0.15625rem;
}
.homesearchHeader .btn {
  display: inline-block;
  font-size: 0.40625rem;
  border: none;
  background-color: #f9fafd;
  color: #777777;
}
.main {
  width: 100%;
  height: 14.3125rem;
  background-color: #efefef;
  padding-top: 0.001563rem;
}
.main section {
  margin: 0.828125rem 0 0 0.46875rem;
}
.main section h1 {
  color: #888888;
  font-size: 0.34375rem;
  line-height: 0.34375rem;
  font-weight: normal;
}
.main section div {
  display: flex;
  width: 9.094rem;
  flex-wrap: wrap;
}
.main section div a {
  display: inline-block;
  padding: 0 0.5rem;
  border: 0.03125rem solid #e4e4e4;
  border-radius: 0.46875rem;
  color: black;
  font-size: 0.359375rem;
  height: 1.0625rem;
  line-height: 1.0625rem;
  margin-right: 0.3125rem;
  margin-top: 0.3125rem;
  background-color: #fff;
}
.main > div {
  width: 6.65625rem;
  height: 1.25rem;
  border: 0.03125rem solid #e0e0e0;
  border-radius: 0.125rem;
  line-height: 1.25rem;
  text-align: center;
  color: #aaaaaa;
  font-size: 0.390625rem;
  margin: 0 auto;
  margin-top: 1.25rem;
}
